In [24]:
# importing MySQL Connector and credentials (was not pushed to repo)

import mysql.connector as connector
from credentials import username,password

<h3 align='center'>Task 1: Connecting to Database</h3>

In [35]:
connection = connector.connect(host="localhost",user = username, password = password, db='littlelemondb')
cursor = connection.cursor()

<h2 align='center'>Task 2: Show Tables Query</h2>

In [38]:
show_tables_query = """SHOW TABLES;"""

cursor.execute(show_tables_query)
results = cursor.fetchall()

print(results)

[('bookings',), ('delivery',), ('employees',), ('guest',), ('menu',), ('menuitems',), ('orders',), ('ordersview',)]

<h2 align='center'>Task 3: Query with Table JOIN</h2>

In [39]:
join_query = """SELECT
	CONCAT(g.GuestFirstName, ' ', g.GuestLastName) GuestFullName
    ,g.GuestPhone
    ,g.GuestAddress
FROM
	Guest g
	INNER JOIN Bookings b ON g.GuestID = b.GuestID
    INNER JOIN Orders o ON b.BookingID = o.BookingID
WHERE
	o.BillAmount > 60;"""

cursor.execute(join_query)
results = cursor.fetchall()

print(results)

[('Anna Iversen', 1234567890, '1')]

<h2 align='center'>Closing the Client</h2>

In [42]:
if connection.is_connected():
    cursor.close()
    connection.close()
    print('The connection has been closed.')
else:
    print('Connection is already closed.')

The connection has been closed.